

html body{
    margin: 0;
    padding: 0;
   
    
}

*{
    scroll-behavior: smooth;
}

.nav-item {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
}


.border{
    display: block;
    margin: auto;
    width: 160px;
    height:3px;
    margin-top:10px; 
}


@media only screen and (min-width: 992px) {
    .border{
        display:none;
        color:#383E56;
    }
}


html body{
    margin: 0;
    padding: 0;
}

h2{
    padding:20px;
    text-align: center;
    color:#F69E7B;
}


p{
    padding: 20px;
    color:white;

}


.circles{
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: grey;
}

.value{
    color:white;
    padding-top:20px;
    padding-left: 10px;
    color:#383E56;
    padding-bottom:50px
}

.desc{
    color:#383E56;
    text-align: center;
    padding:30px;
    font-weight: bolder;
    font-size:20px;
}

.number{
    font-size: 80px;
    color: #383E56;
    padding-top: 30px;
}

.question{
    color:#383E56;
    font-size: 20px;
}

.fa{
    color: #383E56;
}



