html body{
    margin: 0;
    padding: 0;
    background-color: white;
}


*{
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}


.single-features{
    border-style: solid;
    border-width: 5px;
    box-shadow: 5px 10px;
    border-color:#39ff14;
    background-color: black;
    margin-bottom: 50px;
}

.heading{
    font-weight:bolder;
    color:#FF8C00;;
    font-size:40px;
    margin-top:30px;
    padding:20px;
    text-align: center;
}

.content{
    padding:30px;
    font-size:18px;
    color:black;
}


.nav-item {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 13px;
}


@media only screen and (min-width: 992px) {
    .hide{
        display:none;
        color:black;
    }
    .img{
        margin-left:100px;
         height:400px;
          width: 400px;
    }
}

.title{
    color:#FF8C00;;
    padding-top:40px;
    font-size: 50px;
}

.features-title{
    color:#39ff14;
}

.text{
    padding:10px;
    text-align: center;
    color:white;
    font-size:18px
}


.carousel-item{
    height:500px;
    margin-bottom: 40px;
}

.perks-title{
    color:#FF8C00;
    padding:40px;
    margin-top:50px;
    font-size:40px;
    text-align: center;
}

.perks-content{
    color:black;
    padding:40px;
    text-align: justify;
    font-size: 18px;
}


button{
    background-color: #FF8C00 !important ;
    border: 3px solid #FF8C00 !important;
    color:white !important;
    font-weight: bolder !important;
    padding: 10px !important;
    width:auto !important;
    outline:none !important;
    border-radius: 20px !important;
    box-shadow:2px 4px gray;
}


#read-more-btn:active{
    transform: scale(0.95);
 }



#read-more-btn:hover{
    color: black !important;
    border: 3px solid #D3D3D3 !important;
    background: #D3D3D3 !important;
    transform: 2s;
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
}

#read-more-btn:not(:hover){
    transition: 0.5s ease-in-out;
}


button:focus{
    outline: none !important;
}

@media only screen and (max-width: 768px) {
    .carousel-item {
        height:400px;
    }

    .vl{
        display:none;
    }

    .img{
        height:300px;
        width:auto;
    }
}


.vl {
    border-left: 3px solid #39ff14;
    height: 200px;
    margin-top:60px
  }

 #read-more-btn:active{
    transform: scale(0.95);
 }
 #apply-btn:active{
     transform: scale(0.95);
 }

 #social-icons a:hover{
    transform: scale(1.5);
    transition: 0.5s;
    color: #383E56;
}


@keyframes left-right-1{
    0%{left: -100px; opacity: 0;}
    50%{left: 0; opacity: 0.5;}
    100%{left: 0; opacity: 1;}
}

#left-right-1{
    animation-name: left-right-1;
    animation-duration: 2s;
    position: relative;
}

@keyframes right-left-1{
    0%{right: -100px; opacity: 0;}
    50%{right: 0; opacity: 0.5;}
    100%{right: 0; opacity: 1;}
}

#right-left-1{
    animation-name: right-left-1;
    animation-duration: 2s;
    position: relative;
}


@keyframes card-1{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
#card-1{
    animation-name: card-1;
    animation-duration: 2s;
}

@keyframes card-2{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
#card-2{
    animation-name: card-2;
    animation-duration: 2s;
}

@keyframes card-3{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
#card-3{
    animation-name: card-3;
    animation-duration: 3s;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 40px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #fff!important; 
    color: #383E56; 
    cursor: pointer; 
    padding: 15px!important; 
    border-radius: 10px; 
    font-size: 20px; 
}
 
