html body{
    margin: 0;
    padding: 0;
    background-color: #F69E7B;
}
.title{
    margin: 15px;
}
.block-img{
    max-width: 55vw;
    height: auto;
    margin: 0 auto;
    padding-top:50px
}

@media only screen and (min-width: 992px) {
    .hide{
        display:none;
        color:#383E56;
    }
}

.para{
    padding:30px;
    font-size:20px;
}


@media only screen and (max-width: 768px) {
    .block-img{
        height:250px;
        width:auto;
    }
}
