html body{
    margin: 0;
    padding: 0;
    background-color: #383E56;
}

*{
    scroll-behavior: smooth;
}

.nav-item {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
}
.carousel-item {
    height:350px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .carousel-item {
        height:200px;
        width: 100%;
    }

}
#quote{
    margin-top:50px;
    padding: 20px;
    background: #383E56;
    color: white;
    text-align: center;
    font-size: 20px;
}


.desc{
    text-align: justify;
    font-size: 15px;
    color:#383E56;
    padding: 20px;
    font-weight: bolder;
}



.fa{
    color:#383E56;
}


#b-1-social{
    margin: 10px auto;
    padding-top:30px;
    width: 60vw;
}

#b-1-social ul {
    display: flex;
    justify-content: space-evenly;
    color:#D4B5B0;
}


#b-1-social ul li a{
    font-size: 30px;
}

@media (max-width:600px){
    #b-1-social{
        margin: 10px auto;
        width: 100vw;
    }
}